@font-face {
    font-family: Roboto;
    src: url('/static/todo/fonts/Roboto-Regular.ttf');
}

body {
    /* font-family: Arial, Helvetica, sans-serif !important; */
    font-family: Roboto !important;
    background-color: lavender !important;
}

/* .container-fluid {
    background-color:lightgrey;
} */

/* .bootstrap-datetimepicker-widget {
    left: 50%;
    top:100px;
} */